<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BuildMachineOSBuild</key>
        <string>20A241133</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleIdentifier</key>
        <string>com.yukenz.mcdodo51</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>IntelBluetoothInjector</string>
        <key>CFBundlePackageType</key>
        <string>KEXT</string>
        <key>CFBundleShortVersionString</key>
        <string>8.0.5</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>MacOSX</string>
        </array>
        <key>CFBundleVersion</key>
        <string>8.0.5d7</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>12E6178j</string>
        <key>DTPlatformVersion</key>
        <string>11.7</string>
        <key>DTSDKBuild</key>
        <string>20G1106</string>
        <key>DTSDKName</key>
        <string>macosx11.7</string>
        <key>DTXcode</key>
        <string>1240</string>
        <key>DTXcodeBuild</key>
        <string>12E6178j</string>
        <key>IOKitPersonalities</key>
        <dict>
            <key>CSR50</key>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>com.apple.iokit.BroadcomBluetooth20703USBTransport</string>
                <key>IOClass</key>
                <string>BroadcomBluetooth20703USBTransport</string>
                <key>IOProbeScore</key>
                <integer>3000</integer>
                <key>IOProviderClass</key>
                <string>IOUSBHostDevice</string>
                <key>LMPLoggingEnabled</key>
                <true/>
                <key>idProduct</key>
                <integer>1</integer>
                <key>idVendor</key>
                <integer>2578</integer>
            </dict>
        </dict>
        <key>LSMinimumSystemVersion</key>
        <string>11.7</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2002-2019 Apple Inc. All rights reserved.</string>
        <key>OSBundleRequired</key>
        <string>Root</string>
    </dict>
</plist>
